# Простой пример того, как читать данные из терадаты с помощью ODBC

In [1]:
import pyodbc
import pandas as pd
DSN = 'Teradata' # This name may be different for you

In [2]:
pyodbc.apilevel

'2.0'

In [3]:
pyodbc.pooling = False

In [4]:
connection = pyodbc.connect('DSN=Teradata')

In [5]:
connection.autocommit = True;

In [6]:
# print driver and database info
print('-ODBC version        =',connection.getinfo(10))
print('-DBMS name           =',connection.getinfo(17))
print('-DBMS version        =',connection.getinfo(18))
print('-Driver name         =',connection.getinfo(6))
print('-Driver version      =',connection.getinfo(7))
print('-Driver ODBC version =',connection.getinfo(77))

-ODBC version        = 03.80.0000
-DBMS name           = Teradata
-DBMS version        = 15.10.0705  15.10.07.05
-Driver name         = TDATA32.DLL
-Driver version      = 15.10.01.01
-Driver ODBC version = 03.80

In [10]:
sql = "SELECT * FROM PRD2_DIC_V.BRANCH"


data = pd.read_sql(sql, connection)
print(data.shape)
data.head()

(122, 20)

,ID,BRANCH_ID,DB_ID,BRANCH_NAME,CP_CODE2,CP_CODE3,CLUSTER_NAME,CC_NAME,MACRO_CC_NAME,REGION_CODE,REGION_ID,BRAND_LAUNCH_DATE,CREATION_DTTM,DELETION_DTTM,LAUNCH_COMMENT_3G,LAUNCH_DATE_3G,LAUNCH_DATE_4G,CDR_SWITCH_NAME,TIMESHIFT,WEBSITE
0,109.0,25.0,3.0,Брянск,BR,BRY,Challenger Elite,H7_3_BRY,MR BS - Regions,BRY,8.0,NaT,None,NaT,None,2015-07-02,NaT,BRY,0.0,None
1,24.0,60.0,2.0,Норильск NEW,NR,NR1,Challenger,H7_3_KRS,MR Siberia - Regions,KYA,33.0,2015-07-31,2015-02-01 00:00:00,NaT,3G запущен,NaT,NaT,NR3,4.0,None
2,89.0,195.0,5.0,Москва CDMA,None,None,Share hungry,H7_3_MSS,MR Moscow - Regions,None,40.0,NaT,2016-03-01 00:00:00,2016-11-30,не применимо,NaT,NaT,None,0.0,None
3,27.0,15.0,1.0,Липецк,LI,LIP,Challenger Elite,H7_3_LIP,MR BS - Regions,LIP,36.0,NaT,None,NaT,None,2015-04-29,NaT,LIP,0.0,None
4,126.0,NaN,NaN,Челябинск (APEKS),None,None,Defender,H7_3_CHS,MR Ural - Regions,None,71.0,NaT,None,NaT,None,NaT,NaT,None,NaN,None