### Примеры использования обёртки для teradatasql - библиотеки от Teradata для взаимодействия с базой данных из python-кода (https://pypi.org/project/teradatasql/)

#### Преимущества библиотеки:
- Умеет работать с LOB/CLOB объектами, поэтому можно работать с большими геоданными без кастов в строки, упрощений, обрезаний и прочих танцев;
- В отличие от trubodbc не лочит таблицы

#### Недостатки:
Пока не обнаружены

In [1]:
# Для доступа к пакету из любых ноутбуков/скриптов нужно скопировать папку Tele2_BDA в директорию:
# PYTHON_INTERPRETER_FOLDER_PATH\Lib\site-packages
# Например: C:\Programs\Miniconda3\envs\geoenv\Lib\site-packages\Tele2_BDA\wrappers
from Tele2_BDA.wrappers import fast_tdsql as td

#### Установка соединения

In [3]:
con = td.set_connection('USER', 'PASSWORD')

#### Базовый запрос

In [4]:
q = \
"""
SELECT *
FROM uat_dm.gi_geo_samples
ORDER BY id
"""

In [5]:
%%time
df = td.select(con, q)

(8, 3)
Wall time: 2.58 s

In [6]:
df.head(2)

   ID        DESCRIPTION                                                WKT
0   1       sample_point      POINT (37.642179312454687 55.756365925177171)
1   2  sample_linestring  LINESTRING (37.608791174637304 55.749168851564...

In [7]:
df.dtypes

ID              int32
DESCRIPTION    object
WKT            object
dtype: object

#### Запрос с '?' параметрами и дополнительными аргументами

In [8]:
q = \
"""
SELECT *
FROM uat_dm.gi_geo_samples
WHERE id in (?, ?, ?)
ORDER BY id
"""
params=[1, 3, 5]

In [9]:
%%time
df = td.select(con, q, params, col_case='lower', infer_types=False, head=2, dtypes=True)

(3, 3)
-----------
id             object
description    object
wkt            object
dtype: object
-----------
  id     description                                                wkt
0  1    sample_point      POINT (37.642179312454687 55.756365925177171)
1  3  sample_polygon  POLYGON ((37.608962836014257 55.74921715849851...
Wall time: 59.4 ms

#### Закрытие подключения

In [10]:
con.close()